# Ambiente virtual
venv/
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Resultados de testes do Robot Framework
log.html
output.xml
report.html
results/

# Outros
.DS_Store
.idea/
.vscode/